<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="pragma" content="no-cache">
    <link rel="shorcut icon" href="#">
    <title><%= tituloweb %>  </title>

    <!--ESTILOS CSS BOOTSTRAP-->
    <link rel="stylesheet" href="bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">

   
    <!--GAUGES-->
    <script src="js/gauge.min.js"></script>


</head>