<!--FOOTER-->

<!--SCRIPT BOOTSTRAP-->
<script src="/js/bootstrap.min.js"></script>

<script src="js/browserMqtt.js"></script>
<!-- SCRIPT CLIENTE -->
<script src="js/scriptCliente.js"></script>
    
</body>
</html>