<%- include ('template/cabezera', {tituloweb: 'Captura'}) %> 

<body>
    <div class="container bg-dark">
        <div class="row">
            <!--Cabezera-->
            <div class="col-12 text-center text-white">
                <h1>CAPTURA</h1>
            </div>
        </div>

        <!--Captura-->
        <div class="row">
            <div class="col-8 center">
                <img id="captura" src="captura.jpeg" class="rounded border border-info border border-4">
            </div>

            <div class="col-4">
                <div class="row">

                    <!--ENFADADO-->
                    <div class="col-6">
                        <div class="card">
                            <div class="card-header bg-primary text-white text-center">
                                <span>Enfadado</span>
                            </div>
                            <div class="card-body bg-warning">
                                <div id="angry" class="gauge-container three card-img-top"></div>
                            </div>
                        </div>   
                    </div>

                    <!--DISGUSTADO-->
                    <div class="col-6">
                        <div class="card">
                            <div class="card-header bg-primary text-light text-center">
                                <span>Disgustado</span>
                            </div>
                            <div class="card-body bg-warning">
                                <div id="disgusted" class="gauge-container two card-img-top"></div>
                            </div>
                        </div>   
                    </div>

                    <!--TEMEROSO-->
                    <div class="col-6">
                        <div class="card mt-3">
                            <div class="card-header bg-primary text-light text-center">
                                <span>Temeroso</span>
                            </div>
                            <div class="card-body bg-warning">
                                <div id="fearful" class="gauge-container two card-img-top"></div>
                            </div>
                        </div>   
                    </div>

                    <!--FELIZ-->
                    <div class="col-6">
                        <div class="card mt-3">
                            <div class="card-header bg-primary text-light text-center">
                                <span>Feliz</span>
                            </div>
                            <div class="card-body bg-warning">
                                <div id="happy" class="gauge-container two card-img-top"></div>
                            </div>
                        </div>   
                    </div>

                    <!--NEUTRAL-->
                    <div class="col-6">
                        <div class="card mt-3">
                            <div class="card-header bg-primary text-light text-center">
                                <span>Neutral</span>
                            </div>
                            <div class="card-body bg-warning">
                                <div id="neutral" class="gauge-container two card-img-top"></div>
                            </div>
                        </div>   
                    </div>

                     <!--TRISTE-->
                     <div class="col-6">
                        <div class="card mt-3">
                            <div class="card-header bg-primary text-light text-center">
                                <span>Triste</span>
                            </div>
                            <div class="card-body bg-warning">
                                <div id="sad" class="gauge-container two card-img-top"></div>
                            </div>
                        </div>   
                    </div>

                    <!--SORPRENDIDO-->
                    <div class="col-6">
                        <div class="card mt-3 mb-2">
                            <div class="card-header bg-primary text-light text-center">
                                <span>Sorprendido</span>
                            </div>
                            <div class="card-body bg-warning">
                                <div id="surprised" class="gauge-container two card-img-top"></div>
                            </div>
                        </div>   
                    </div>
                </div>
            </div>
            <!-- GAUGES FIN-->
            
            <div class="col-12 text-center text-white"></div>
                <h1 id="emocion">Hola</h1>
        </div>
    </div>    



        
           

<%- include('template/footer') %>     