<%- include ('template/cabezera', {tituloweb: 'Captura'}) %> 

<body>
    <div class="container">
        <div class="row">
            <!--Cabezera-->
            <div class="col-12 text-center">
                <h1>CAPTURA</h1>
            </div>

            <!--Captura-->
            <div class="col-8 center">
                <img id="captura" src="captura.jpeg" class="rounded border border-info border border-4">
            </div>
            <div class="col-4 center">
               
            </div>

            <!--GAUGES-->
            <div class="col-12">
                <div class="row mt-3">
                    <!--ENFADADO-->
                    <div class="col-3">
                        <div class="card">
                            <div class="card-header bg-dark text-light text-center">
                                <span>ENFADADO</span>
                            </div>
                            <div class="card-body center">
                                <canvas id="angry" class="card-img-top"></canvas>
                            </div>
                        </div>  
                    </div>

                    <!--DISGUSTADO-->
                    <div class="col-3">
                        <div class="card">
                            <div class="card-header bg-dark text-light text-center">
                                <span class="text-center">DISGUSTADO</span>
                            </div>
                            <div class="card-body">
                                <canvas id="disgusted" class="card-img-top"></canvas>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
        
    </div>





<%- include('template/footer') %>     