<%- include ('template/cabezera', {tituloweb: 'pagina inicio'}) %> 

<body>
    <div class="container">
        <h1 class="text-primary">INDEX</h1>
        <button type="button" class="btn btn-primary">HOLA</button>
        
        <i class="bi-alarm" style="font-size: 2rem;"></i>

    </div>
   
<%- include('template/footer') %> 