<%- include ('template/cabezera', {tituloweb: 'Captura'}) %> 

<body>
    <div class="container">
        <div class="row">
            <!--Cabezera-->
            <div class="col-12 text-center">
                <h1>CAPTURA</h1>
            </div>
        </div>

        <!--Captura-->
        <div class="row">
            <div class="col-8 center">
                <img id="captura" src="captura.jpeg" class="rounded border border-info border border-4">
            </div>

            <div class="col-4">
                <div class="row">

                    <!--ENFADADO-->
                    <div class="col-6">
                        <div class="card">
                            <div class="card-header bg-dark text-light text-center">
                                <span>Enfadado</span>
                            </div>
                            <div class="card-body">
                                <canvas id="angry" class="card-img-top"></canvas>
                            </div>
                        </div>   
                    </div>

                    <!--DISGUSTADO-->
                    <div class="col-6">
                        <div class="card">
                            <div class="card-header bg-dark text-light text-center">
                                <span>Disgustado</span>
                            </div>
                            <div class="card-body">
                                <canvas id="disgusted" class="card-img-top"></canvas>
                            </div>
                        </div>   
                    </div>

                    <!--TEMEROSO-->
                    <div class="col-6">
                        <div class="card mt-3">
                            <div class="card-header bg-dark text-light text-center">
                                <span>Temeroso</span>
                            </div>
                            <div class="card-body">
                                <canvas id="fearful" class="card-img-top"></canvas>
                            </div>
                        </div>   
                    </div>

                    <!--FELIZ-->
                    <div class="col-6">
                        <div class="card mt-3">
                            <div class="card-header bg-dark text-light text-center">
                                <span>Feliz</span>
                            </div>
                            <div class="card-body">
                                <canvas id="happy" class="card-img-top"></canvas>
                            </div>
                        </div>   
                    </div>

                    <!--NEUTRAL-->
                    <div class="col-6">
                        <div class="card mt-3">
                            <div class="card-header bg-dark text-light text-center">
                                <span>Neutral</span>
                            </div>
                            <div class="card-body">
                                <canvas id="neutral" class="card-img-top"></canvas>
                            </div>
                        </div>   
                    </div>

                     <!--TRISTE-->
                     <div class="col-6">
                        <div class="card mt-3">
                            <div class="card-header bg-dark text-light text-center">
                                <span>Triste</span>
                            </div>
                            <div class="card-body">
                                <canvas id="sad" class="card-img-top"></canvas>
                            </div>
                        </div>   
                    </div>

                    <!--SORPRENDIDO-->
                    <div class="col-6">
                        <div class="card mt-3">
                            <div class="card-header bg-dark text-light text-center">
                                <span>Sorprendido</span>
                            </div>
                            <div class="card-body">
                                <canvas id="surprised" class="card-img-top"></canvas>
                            </div>
                        </div>   
                    </div>
                </div>
            </div>
            <!-- GAUGES FIN-->
            
        </div>
    </div>    



        
           

<%- include('template/footer') %>     